@font-face {
  font-family: 'TT Travels';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/TTTravels-Light.ttf");
}

@font-face {
  font-family: 'TT Travels';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TTTravels-Regular.ttf");
}

@font-face {
  font-family: 'TT Travels';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTTravels-Medium.ttf");
}

@font-face {
  font-family: 'TT Travels';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/TTTravels-DemiBold.ttf");
}

@font-face {
  font-family: 'TT Travels';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTTravels-Bold.ttf");
}